<a href="/animal/{{type}}/{{id}}">
  <li class="list-group-item list-group-item-action">
    <img src="{{imageUrl}}" alt="{{name}}" width="100" />
    <strong>{{name}}</strong> {{age}}yrs.
  </li>
</a>